html,
body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	background-color: #1a1a1d;
}

.logo {
	height: 500px;
	width: auto;
}

.joinInnerContainer {
	width: 20%;
}

.joinInput {
	border: solid 5px red;
	border-radius: 50px;
	padding: 15px 20px;
	width: 100%;
}

.heading {
	color: white;
	font-size: 2.5em;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 100%;
}

.mt-20 {
	margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 920px) {
	.joinOuterContainer {
		height: 100vh;
	}

	.joinInnerContainer {
		width: 80vw;
	}

	.logo {
		height: 300px;
		width: auto;
	}
}

button:focus {
	outline: 0;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
